.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("restaurant.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
}

#map {
    height: 500px;
}


#top10-chart {
    height: 500px
}

#top10-table {
    height: 500px
}
